body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('assets/images/kfc.jpg');
    background-color: #ce133f;
    background-repeat: no-repeat;
    background-size: cover;
}

#game {
    margin-top: 50px;
}

#cookie-container {
    display: inline-block;
    margin: 20px;
    border-color: aqua;
}

#cookie {
    border: .2rem solid black;
    width: 200px;
    cursor: pointer;
    border-radius: 100%;
    transition: all .01s ease-in-out;
}

#cookie.enlarge {
    transform: scale(1.2);
}

#counter-container {
    background-color: white;
    width: 150px;  /* Define a width */
    margin: 15px auto;  /* Auto centers horizontally */
    border-radius: 5px;
    padding: 1px;
}


#click-count {
    font-size: 2em;
    font-weight: bold;
}

.feedback-container {
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 5%;
}

#message {
    padding: 5%;
}

#watermelon {
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -100px;
    left: 50%;
    display: none;
    z-index: 100000000000;
    transition: top 5s linear;
}